.content-rule {
    font-family: kanit !important;

}

.rulepage {
    width: 100%;
    background-color: #0f1116;
    
}

.card-body {
    /* background: #000000; */
    color: #fff;
    /* font-size: 24px; */
    font-family: kanit;
    margin-left: 20px;
   
}

.texthighlight {
    color: #FF0000;
}

.container {
    text-align: left;
}

@media screen and (max-width: 767px){
    .card-body {
        /* background: #000000; */
        color: #fff;
        font-size: 14px;
        font-family: kanit;
        margin-left: 15px;
        
    }
}
